@{
    ViewData["Title"] = "Home Page";
}
@model InputData;


<h3>Alien Text Modifier</h3>

<br />

@using (Html.BeginForm())
{
    @Html.Label("Enter Text Here:")
    @Html.TextArea("inputArea", null, 3, 40, null)<br />

    <div class="green boxInput">
        @Html.Label("Green")
        @Html.RadioButton("modificationOption", "green")
    </div><br />
    <div class="boxInput">
        @Html.Label("Reverse")
        @Html.RadioButton("modificationOption", "reverse")
    </div><br />
    <div class="bold boxInput">
        @Html.Label("Bold")
        @Html.RadioButton("modificationOption", "bold")
    </div><br />
    <div class="italic boxInput">
        @Html.Label("Italic")
        @Html.RadioButton("modificationOption", "italic")
    </div><br />

    <input type="submit" value="Display Text" tabindex="6" name="modificationOption">
}

<br /><br /><br />

@{
    try
    {
        @Html.Raw(Model.Input)
    }
    catch (Exception)
    {
    }
}

<br />
